/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin:33px;
	background-color: #fff;
	color: #333;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;

}

h1 {
	display: block;
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	font-weight: bold;

}

p {
	display: block;
	margin-top: 30px;
	margin-bottom: 1em;
	margin-left: 30px;
	font-size: 13px;
	font-family: verdana, arial, helvetica, sans-serif;
}

thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

th {
	padding-bottom: 5px;
	vertical-align: inherit;
	font-weight: bold;
	text-align: -inherit-center;
}

table {
	display: table;
	border-collapse: separate;
	box-sizing: border-box;
	border-spacing: 2px;
}

td {
	/*display: block;*/
}

.link {
	display: block;
}

.btn {
	display: block;
	margin-bottom: 15px;
}

.form-title {
	margin-bottom: 15px;
}

.form-body {
	margin-bottom: 15px;
}

.table-title {
	padding-right: 340px;
}

.table-link {
	padding: 0 8px;
}

.new-title {
	margin: 20px 0;
}

label {
	display: block;
}
